<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="connection.url">
            jdbc:mysql://127.0.0.1:3306/testdb?useSSL=false
        </property>
        <property name="connection.username">root</property>
        <property name="connection.password">123</property>

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <!--配置根据映射生成对应表-->
        <property name="hbm2ddl.auto">update</property>

        <!--配置映射配置文件-->
        <mapping resource="BookInfo.hbm.xml" />
    </session-factory>
</hibernate-configuration>